.space-evenly{
    justify-content: space-evenly
}
.homecenter {
    margin-top: 100px !important;
    margin-bottom: 100px;
}
.banner{
    margin-top: -60px !important;
}
.home-title{
    color: white;
    margin-top: 50px;
    text-align: center;
}

.logo{
    display: flex;
    place-content: center;
}

body{
    overflow-x: hidden;
    background-color: #4F4F4F;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.slick-slide {
    width: 150px;
}
.storycenter{
    display: flex !important;
    /* text-align: -webkit-center; */
    flex-direction: column;
    align-items: center;
}
